.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Daemr-bg {
    filter: blur(8px);
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadein ease 5s;
    max-width: 30%;
    height: auto;
  }
}


.Typewriter-title {
  width: 20ch;
  animation: typing 3s steps(20), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.Typewriter-cs {
  width: 25ch;
  animation:
          0s linear 3.5s forwards delayedShow,
          typing 1.5s steps(25);
  animation-delay: 3.5s;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 1em;
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.Typewriter-dt {
  width: 23ch;
  animation:
          0s linear 5s forwards delayedShow,
          typing 1.5s steps(23);
  animation-delay: 5s;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 1em;
  visibility: hidden;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.Typewriter-pa {
  width: 16ch;
  animation:
          0s linear 6.5s forwards delayedShow,
          typing 1s steps(16);
  animation-delay:6.5s;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 1em;
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.Mailaddress {
  border-bottom: solid 1px;
  border-color: floralwhite;
  animation: 0s linear 7s forwards delayedShow, fadein ease 2s;
  animation-delay: 7s;
  height: 50px;
  color: black;
  visibility: hidden;
  white-space: nowrap;
  font-family: monospace;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  text-decoration: none;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .Linkedin {
    height: 40px;
    width: 40px;
    z-index: 99;
    visibility: hidden;
    animation: 0s linear 7s forwards delayedShow, fadein ease 2s;
    animation-delay: 7s;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Docker {
    height: 40px;
    z-index: 99;
    visibility: hidden;
    animation: 0s linear 7s forwards delayedShow, fadein ease 2s;
    animation-delay: 7s;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes delayedShow {
  to {
    visibility: visible;
  }
}